.root {
    box-shadow: none;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.size500 {
    font-size: 18px;
    padding: 8px 16px;
}

.size400 {
    font-size: 16px;
    padding: 7px 14px;
}

.light {
    background-color: lightsalmon;
}

.dark {
    background-color: lightsteelblue;
}