.header {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: lightgray;
}

.rightSection {
    display: flex;
    width: 25%;
    justify-content: space-between;
}